<h1>Registering</h1>

<form>
<fieldset>
<legend>Your Name</legend>
<label>
  First
  <input type="text" name = "firstname"/>
</label>
<label>
  Last
  <input type="text" name = "lastname"/>
</label>
</fieldset>

<fieldset>
<legend>Email</legend>
<label>
  Email
  <input type="text" name = "email"/>
</label>
<label>
  Email(confirm)
  <input type="text" name = "emailconfirm"/>
</label>
</fieldset>

<fieldset>
<legend>Password</legend>
<label>
  Password
  <input type="password" name = "password"/>
</label>
<label>
  Password(confirm)
  <input type="password" name = "passwordconfirm"/>
</label>
</fieldset>

<p>
  <input type="submit" value="Register Now"/>
</p>
</form>



